.main-container{
    min-height: 84vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content{
    max-width: 1280px;
    margin: auto;
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #d4d4d4;
}

.main-content h1{
    font-size: 200%;
    text-align: center;
    color: orange;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.main-content h1:hover{
    color: #1f1f1f;
    transition: all .3s ease-in-out;
}

.main-content p{
    width: 805px;
    font-size: 150%;
}

.main-content a{
    text-decoration: none;
    color: blue;
}

#html{
    color: orangered;
}
#css{
    color: cornflowerblue;
}
#javascript{
    color: rgb(255, 187, 0);
}
#temos{
    font-style: italic;
    font-weight: bold;
}
#paginas{
    color: rgb(141, 180, 0);
}
#discord{
    color: blue;
}


