.main-content{
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-corpo{
    height: 500px;
    width: 550px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.login-title{
    width: 100%;
    height: max-content;
    text-align: center;
    font-size: 170%;
}

.login-inputs{
    margin-top: -30px;
}

.login-input{
    position: relative;
    width: 450px;
    margin: 5% auto;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.login-input input{
    padding: 5px 5px 0 1px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #1f1f1f;
    background-color: transparent;
    outline: none;
    width: auto;
    font-size: 16px;
    font-weight: bolder;
    transition: all .3s ease-out;
    border-radius: 0;
}

.login-input input:focus{
    border-bottom: 2px solid #bf5600;
}

.login-input label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 16px;
    transition: all .3s ease-out;
    font-size: 135%;
    text-align: center;
    width: max-content;
}

.login-input input:focus + label,
.login-input input:valid + label{
    font-weight: lighter;
    font-size: 16px;
    margin-top: 0;
     
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa-eye{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: #1f1f1f;
  }

.login-btn{
    cursor: pointer;
    font-size: 140%;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid black;
    line-height: 0;
    margin: 10px auto;
    display: block;
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }

#msgError{
    animation: treme 0.2s;
    animation-iteration-count: 3;
    width: 350px;
    text-align: center;
    font-weight: bold;
    line-height: 2;
    font-size: 120%;
    height: 40px;
    background-color: #ffb3b3;
    border-radius: 5px;
    display: none;
    transition: all .3s ease-in-out;
}

#msgSucess{
    animation: treme 0.2s;
    animation-iteration-count: 3;
    width: max-content;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    line-height: 2;
    font-size: 120%;
    height: 40px;
    background-color: #c0ffb3;
    border-radius: 5px;
    display: none;
    transition: all .3s ease-in-out;
}