@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    min-height: 100vh;
    background-color: whitesmoke
}

/* HEADER */

.header-container{
    height: 8vh;
    background-color: orange;
    box-shadow: 1px 1px 3px #5f5f5f;
}

.header-content{
    height: 100%;
    max-width: 1280px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.header-content{
    font-weight: bolder;
    font-size: 120%;
}

.header-logo, .footer-logo{
    display: flex;
    height: 100%;
}

.header-logo img, .footer-logo img{
    width: 50px;
}

.header-logo p{
    margin: auto;
    height: 8vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-left: 10px;
}

.header-logo p span{
    height: 18px;
}

.header-btns{
    display: flex;
    height: 100%;
    width: max-content;
}

.links-header:not(:last-child){
    margin-right: 20px;
}

.links-header a{
    height: 100%;
    width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

.links-header a:hover{
    background-color: rgb(255, 195, 84);
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

.header-src{
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
    margin: auto 0;
    height: 35px;
    overflow: visible;
    z-index: 1;
}

.header-input-src{
    background-color: rgb(255, 241, 224);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header-input-src input{
    height: 60%;
    margin: 0 10px;
    text-decoration: none;
    outline: none;
    font-size: 100%;
    padding-left: 5px;
    padding-right: 32px;
    width: 380px;
    margin: 0;
    margin-right: -32px;
    border-radius: 3px;
    background-color: rgb(255, 241, 224);
}

.fa-times{
    position: absolute;
    right: 0;
    margin-right: 35px;
    display: none !important;
    cursor: pointer;
    text-align: center;
    font-size: 125% !important;
    width: 25px;
    height: auto;
    line-height: 3;
}

.header-input-src img{
    width: 35px;
    pointer-events: none;
}

.itens-receitas{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgb(255, 243, 231);
    width: 385px;
    max-height: 300px;
    min-height: 40px;
    border-radius: 5px;
    margin-top: 35px;
    border: 2px solid rgba(255, 68, 0, 0.432);
    padding: 8px 5px;
    overflow: scroll;
}

.itens-receitas div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.itens-receitas p{
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    text-align: left;
    padding: 2px;
}

.itens-receitas img{
    width: 25%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.itens-receitas div:hover{
    background-color: rgb(255, 222, 209);
}

.itens-receitas::-webkit-scrollbar{
    width: 10px;
    height: 100%;
}

.itens-receitas::-webkit-scrollbar-thumb{
    background-color: rgb(255, 186, 59);
    border-radius: 3px;
}

.itens-receitas::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 148, 77);
}

.logoutDiv{
    width: 70px;
    justify-content: right;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.logoutDiv p{
    margin-top: -3px;
}

#logout{
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
}

.logoutDiv:hover{
    background-color: rgba(192, 125, 0, 0.397);
}

/* MAIN */

.main-container{
    min-height: 84vh;
    background-color: whitesmoke;
}

.main-content{
    max-width: 1280px;
    margin: auto;
}

.feedback-container{
    display: flex;
    height: max-content;
    margin: 10px;
    justify-content: space-around;
}

.feedback-text{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.img-slider{
    height: max-content;
    max-width: 680px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #1f1f1f18;
}

.slider{
    display: flex;
    width: max-content;
    align-items: center;
    transition: all 1s ease-in-out;
}

.img-slide img{
    width: 680px;
    height: max-content;
    display: block;
}

.arrow{
    height: max-content;
    width: max-content;
    position: absolute;
    font-size: 250% !important;
    color: rgb(51, 43, 39);
    cursor: pointer;
}

.arrow:hover{
    color: orange;
    transition: all .2s ease-in-out;
}
.fa-arrow-left{
}
.fa-arrow-right{
    margin-left: 644px;
}

.titulo-receitas-vistas{
    width: 100%;
    font-size: 150%;
    font-weight: bolder;
    border-bottom: 4px solid #1f1f1f;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

.titulo-receitas-vistas:hover{
    border-color: orange;
    transition: all .3s ease-in-out;
}

.receitas-vistas{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.lista-receitas-vistas{
    width: 380px;
    height: 380px;
    overflow: hidden;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    background-color: rgb(250, 230, 221);
}

.lista-receitas-vistas:hover{
    background-color: rgb(252, 218, 201);
    transition: all .5s ease-in-out;
    padding: 15px;
}

.titulo-receita{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    color: black;
}

.lista-receitas-vistas:hover .titulo-receita{
    color: orange;
    transition: all .3s ease-in-out;
}

.img-receita{
    height: 230px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px 0;
}

.img-receita img{
    width: 350px;
    border-radius: 5px;
}

.desc-receita{
    text-align: left;
    font-weight: bold;
    height: 75px;
    width: 350px;
}

#seta_up{
    display: flex;
    justify-content: right;
}

.setaUp{
    width: 50px;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 167, 126);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.setaUp:hover{
    background-color: rgb(255, 112, 59);
    transition: all .3s ease-in-out;
}

/* FOOTER */

.footer-container{
    height: 8vh;
    background-color: wheat;
}

.footer-content{
    width: 1280px;
    display: flex;
    margin: auto;
    height: 8vh;
    overflow: hidden;
}

.footer-logo{
    padding: 2px;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.footer-logo p{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    margin-left: 10px;
}

.footer-logo p span{
    height: 19px;
}

.footer-links{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 15px;
}

.footer-redes{
    height: 8vh;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.footer-redes a{
    height: 8vh;
    display: flex;
    align-items: center;
}

.footer-redes img{
    width: 50px;
    cursor: pointer;
}

.footer-redes img:hover{
    border-top: 4px solid orange;
    transition: all .1s ease-in-out;
}

.footer-direitos{
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 120%;
}

.footer-direitos span{
    color: orangered;
}
